<header>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Valentin Sigaudo</a>
          <a class="navbar-brand" href="#"></a>
          <button 
              class="navbar-toggler" 
              type="button" 
              data-bs-toggle="offcanvas" 
              data-bs-target="#offcanvasDarkNavbar"
              aria-controls="offcanvasDarkNavbar"
          >
              <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu de navegacion</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"aria-current="page" href="#habilidades">Habilidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"aria-current="page" href="#proyectoss">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"aria-current="page" href="https://drive.google.com/file/d/1x3oSnrzGeGYI7X40mP3PyC_Zjb9p-DfL/view">Curriculum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"aria-current="page" href="https://github.com/Catul0">Github</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contacto
              </a> 
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="https://www.instagram.com/vale.sigaudo" target="_blank">Instagram</a></li>
                <li><a class="dropdown-item" href="https://www.linkedin.com/in/valent%C3%ADn-sigaudo-17240815a/" target="_blank">linked In</a></li>
                <li><a class="dropdown-item" href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWtDtZTzpcqBJJNQHqzMttXFbMddRDgQsFfpchkRLGMxbRlVQScjBHLhpPkvWGBvPKlsZXBHl" target="_blank">E-mail</a></li>
              </ul>
            </li>
          </ul>
          <hr>
          <div 
            *ngIf="!xd.variable"
            class="dropdown"
          >
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </button>
            <ul class="dropdown-menu "style=" background-color: rgb(56, 54, 54); padding-left: 10px; padding-right: 10px; width: 350px;">
              <app-login ></app-login>
            </ul>
          </div>
          <app-logout *ngIf="xd.variable"></app-logout>
          <div *ngIf="xd.variable">
            <h5 style="margin-top: 70px;">BIENVENIDO!</h5>
          </div>

        </div>
        </div>
  </nav>
</header>
